.socialIcons {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 50%;
    position: fixed;
    right: 30px;
    top: 200px;
    cursor: pointer;
}
i{
    color: white;
    font-size: 25px;
   
}
.info{
    width: 100px;
    background-color: black;
    color: rgb(255, 255, 255);
    position: absolute;
    left: -120px;
    display: none;
}

.telegram{
    top:300px ;
}
.socialIcons:hover{
    box-shadow: 10px 10px 5px rgb(15, 51, 63);
}
.socialIcons:hover .info{
    box-shadow: 10px 10px 5px rgb(19, 56, 69);
}

.twitter{
    top:400px ;
}
.facebook{
    top:500px ;
}
.socialIcons:hover .info{
    display: block;
}